@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'poppins';
    outline: none;
}

body {
    background: rgb(9, 137, 163);
    background: linear-gradient(90deg, rgba(9, 137, 163, 1) 0%, rgba(42, 118, 175, 1) 39%, rgba(0, 69, 124, 1) 100%);
}

header {
    background-color: #EEEEEE;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
}

.logo {
    position: relative;
    width: 100px;
    height: 100px;
}

.logo img {
    position: absolute;
    max-width: 100px;
}


nav ul {
    display: flex;
}

nav ul li {
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    padding: 10px 0;
    white-space: nowrap;
}



nav ul li a {
    color: #000;
}

nav ul li a:hover {
    color: #0077b6;
}

.text {
    font-size: 1.8rem;
}

.about {
    text-align: center;
}

.about .container {
    margin: 160px;
}

.about .container h1 {
    margin-bottom: 50px;
}
    
.container img {
    width: 1200px;
    height: 600px;
    object-fit: cover;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
}


@media (max-width:1480px) {
    header {
        padding: 12px 2.5%;
        transition: .1s;
    }
}